<div class="row">
			<div class="alert alert-dismissible fade show" role="alert">
			<ul class="list-group">
				<li  class="list-group-item list-group-item-warning"><i class="bi bi-exclamation-octagon-fill"></i>
				The calculations on this page is based on the data entered by the user. 
					Hence, the same may differ with the calculations using the data from database. In case of any mismatch, the calculations using the database data will be considered final.
				
				</li>
				<li class="list-group-item list-group-item-warning" ><i class="bi bi-exclamation-octagon-fill"></i>
				The Withdrawal Benefit is only applicable only for those cases where EPS service of the member is more than 6 months and less than 9.5 years. Member may apply for SC if Service is less than 6 Month</li>
			</ul>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div class="row g-4">
			<div class="col">
				<div class="card shadow">
					<div class="card-header">Withdrawal Calculator Input</div>
					<div class="card-body">
						<form>
							<div ng-show="alert" class="warning">{{alert}}</div>
							<div class="input-group mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of years of contribution before 01-09-2014">
								<span class="input-group-text col-9" id="basic-addon1">Number of Years Contribution in ceiling 6500:</span>
								<input type="number" ng-model="years1" class="form-control col-4" ng-change="update()" placeholder="years1" aria-label="years1" aria-describedby="basic-addon1">
							</div>

							<div class="input-group mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Pay payable at cessation of membership">
								<span class="input-group-text col-9" id="basic-addon1">Wages on Exit/Date of notification in Wage Ceiling 6500: </span>
								<input type="number" ng-model="wage1" class="form-control col-4" ng-change="update()" placeholder="wage1"  aria-label="wage1" aria-describedby="basic-addon1">
							</div>
							
							<div class="input-group mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of years of contribution before 01-09-2014">
								<span class="input-group-text col-9" id="basic-addon1">Number of Years Contribution in ceiling 15000:</span>
								<input type="number" ng-model="years2" class="form-control col-4" ng-change="update()" placeholder="years2" aria-label="years2" aria-describedby="basic-addon1">
							</div>
							
							<div class="input-group mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of years of contribution">
								<span class="input-group-text col-9" id="basic-addon1">Wages on Date of Exit:</span>
								<input type="number" ng-model="wage2" class="form-control col-4" placeholder="wage2" ng-change="update()" aria-label="wage2" aria-describedby="basic-addon1">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow">
					<div class="card-header d-flex justify-content-between align-items-center">Withdrawal Benefit Calculator Output : </div>
					<div class="card-body p-3">		
						<ul class="list-group mb-3">
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Years of Service (ceiling limit 6500) [Y1]: <span>{{years1}}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Wages at on date of notification [W1]: <span>{{wage1}}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Years of Service (ceiling limit 15000) [Y2]: <span>{{years2}}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Wages at on date of Exit [W2]: <span>{{wage2}}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Formula for Avg Wages: <span>(Y1*W1+Y2*W2)/Y1+Y2</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Average Wages: <span>{{avg_wage}}</span></li>
							
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Proportion of wages: <span>{{ factor }}</span></li>
							<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Withdrawal Benefit: <span>{{ amount }}</span></li>
						</ul>
						
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger align-self-center" onclick="myFunction()">Download</button>
					</div>
				</div>
			</div>
		</div>