<div class="row g-4">
	<div class="col-md-6">
		<div class="card shadow">
			<div class="card-header">Base Information</div>
			<div class="card-body">
				<form>
					<div class="input-group mb-2">
						<span class="input-group-text col-8" id="basic-addon1">Age on Date of option:</span>
						<input type="number" ng-model="age" ng-change="update()" class="form-control col-4" min="50" max="60" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2">
						<span class="input-group-text col-8" id="basic-addon1">Months from 01-09-2014:</span>
						<input type="number" ng-model="months1" ng-change="update()" min="0" class="form-control col-4" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2" ng-show="months1">
						<span class="input-group-text col-8" id="basic-addon1">Average Wage from 01-09-2014:</span>
						<input type="number" ng-model="avg_wage1" ng-change="update()" max="15000" class="form-control col-4" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2" ng-show="months1">
					<span class="input-group-text col-8" id="basic-addon1">NCP days for {{ months1 }} months from 01-09-2014:</i></span>
						<input type="number" ng-model="ncp1" ng-change="update()" class="form-control col-4" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-2 mt-4" ng-show="months2">
						<span class="input-group-text col-12  d-flex justify-content-between align-items-center" id="basic-addon1">Months to be taken for Pensionable Salary before 01-09-2014: <b>{{months2}}</b></span>
					</div>
					
					<div class="input-group mb-2" ng-show="months2">
						<span class="input-group-text col-8" id="basic-addon1">Avg. wage for {{months2}} months before 01-09-2014:</i></span>
						<input type="number" ng-model="avg_wage2" max="6500" class="form-control col-4" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2" ng-show="months2">
						<span class="input-group-text col-8" id="basic-addon1">NCP days for {{ months2 }} months before 01-09-2014:</i></span>
						<input type="number" ng-model="ncp2" class="form-control col-4" placeholder="Total wage" aria-label="Months in 15000 Ceiling" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2 mt-4">
						<span class="input-group-text col-8" id="basic-addon1">Actual Service (in days) : </span>
						<input type="number" ng-model="actual_service" class="form-control col-4" ng-change="update()" placeholder="Actual Service"  aria-label="Actual Service" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-2">
						<span class="input-group-text col-8" id="basic-addon1">Total NCPs : </span>
						<input type="number" ng-model="total_ncp" class="form-control col-4" ng-change="update()" placeholder="Total Service"  aria-label="Total Service" aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card shadow">
			<div class="card-header d-flex justify-content-between align-items-center">Withdrawal Benefit Calculator Output : </div>
			<div class="card-body p-3">		
				<ul class="list-group mb-3">
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-if=0>Forumla used for Pensionable Salary: <span>(Months*30-NCP)*(Sum of wages/months)/(60*30-NCP)</span></li>
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="months1">Average Wages for {{months2}} months before 2014: <span>{{ avg_wage2 }}</span></li>
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="months1">NCP days for {{months2}} months before 2014: <span>{{ ncp2 }}</span></li>
					<li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center" ng-show="months1">Pensionable Salary derived for months before 2014: <span>{{ part2 }}</span></li>
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="months2">Average Wages for {{months1}} after 2014: <span>{{ avg_wage1 }}</span></li>
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="months2">NCP days for {{months1}} months after 2014: <span>{{ ncp1 }}</span></li>
					<li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center" ng-show="months2">Pensionable Salary derived for months after 2014: <span>{{ part1 }}</span></li>
					<li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">Net Pensionable Salary: <span>{{ avg_wage }}</span></li>
				</ul>
				<ul class="list-group mb-3">
					<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">Actual Service<span>{{ actual_service}}</span></li>
					<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">Total NCP<span>{{ total_ncp}}</span></li>
					<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">Eligible Service<span>{{ eligible_service}}</span></li>
					<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">Weightage <span>{{ weightage }} Years</span></li>
					<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">Pensionable Service(Eligible Service for benefit) <span>{{ eligible_service1 }}</span></li>
				</ul>
				<ul class="list-group mb-3">
					<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Pension Formula: <span> Pensionable Salary * Pensionable Service/(70*365)</span></li>
					<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Calculated Pension if Opted on 58 Years: <span>{{ pension58 }}</span></li>
					<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Min. Pension: <span>1000</span></li>
					<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Calculated Pension if Opted on 58 Years after minimum: <span>{{ pension58min }}</span></li>
					<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Calculated Pension on Opted Date: <span>{{ pension }}</span></li>
				</ul>
				
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-danger align-self-center" onclick="myFunction()">Download</button>
			</div>
		</div>
	</div>
</div>