<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pension Calculator</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
			  <li><a href="pension.html" class="nav-link px-2 text-white">Pension Calculator</a></li>
			  <li><a href="edli.html" class="nav-link px-2 text-white">EDLI</a></li>
			</ul>
			<h3 class="text-center">CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid" ng-app="pensionApp" ng-controller="pensionCtrl">
		<div class="row">
			<div class="alert fade show" role="alert">
			<ul class="list-group">
				<li  class="list-group-item list-group-item-danger"><i class="bi bi-exclamation-octagon-fill"></i>
					The calculations shown here are only illustrative in nature and can not be used as a basis of any legal case/litigation.
				</li>
			</ul>
			</div>
		</div>
		<div class="row g-4">
			<div class="col-sm-12">
				<div class="card shadow">
					<div class="card-header">Pension Calculator Input</div>
					<div class="card-body">
						<ul class="list-group mb-3">
							<li class="list-group-item list-group-item-warning" ng-if="basic.alert"><i class="bi bi-exclamation-octagon-fill"></i> {{basic.alert}}</li>
							
							<li class="list-group-item">
								<form>
									<div class="input-group mb-1">
										<span class="input-group-text col-5" id="basic-addon1">Date Of Birth: </span>
										<input type="date" ng-model="basic.dob" ng-change="availingDate()" class="form-control" placeholder="dob" aria-label="dob" aria-describedby="basic-addon1">
									</div>
								</form>
							</li>
							<li class="list-group-item">
								<table class="table table-striped table-bordered table-sm">
									<thead>
										<tr>
											<td>DOJ</td>
											<td>DOE</td>
											<td>NCP1</td>
											<td>NCP2</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="service in services">
											<td>{{service.doj |  date:'dd-MM-yyyy'}}</td>
											<td>{{service.doe |  date:'dd-MM-yyyy'}}</td>
											<td>{{service.ncp1}}</td>
											<td>{{service.ncp2}}</td>
											<td><i class="bi bi-trash" ng-click='removeService($index)'></i></td>
										</tr>
									</tbody>
								</table>
								<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addService"><i class="bi bi-plus-circle-fill"></i> Add Service</button>			
								<ul class="list-group mt-2 mb-3">
									<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Total: <span>{{services.length}} services</span></li>
									<li class="list-group-item list-group-item-warning" ng-if="eligibilityMsg"><i class="bi bi-exclamation-octagon-fill"></i> {{"Information: "+ eligibilityMsg}}</li>
									<li class="list-group-item list-group-item-warning" ng-if="actual_service"><i class="bi bi-exclamation-octagon-fill"></i> Your Actual service is: {{actual_service}} days</li>
									<li class="list-group-item list-group-item-warning" ng-if="eligible_service"><i class="bi bi-exclamation-octagon-fill"></i> Your eligible service is: {{eligible_service}} days</li>
								</ul>
							</li>
							
							<li class="list-group-item">
								<form>
									<div class="input-group mb-1">
										<span class="input-group-text col-5" id="basic-addon1">Pension Availing Date/Date of Option: </span>
										<input type="date" ng-model="basic.availing_date" ng-change="updateBasic()" class="form-control" placeholder="availing_date" aria-label="availing_date" aria-describedby="basic-addon1">
									</div>
								</form>
							</li>
							<li class="list-group-item list-group-item-warning" ng-if="basic.agealert"><i class="bi bi-exclamation-octagon-fill"></i> {{basic.agealert}}</li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Age on Pension Availing Date: <span>{{basic.age}}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Date of attaining 58 Years: <span>{{basic.date58 | date:'dd/MM/yyyy' }}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="basic.doe">Date of Exit (EPS): <span>{{basic.doe | date:'dd/MM/yyyy' }}</span></li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center" ng-show="basic.doe">Age on Date of Exit(EPS): <span>{{basic.agedoe}}</span></li>
						
						</ul>	
					</div>
					<div class="card-footer d-flex justify-content-between align-items-center">
						Pension Benefit: {{}}
						<span>
							<button type="button" class="btn btn-success align-self-center" ng-click="output=true">Show Calculation</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">Reset</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				
			</div>
		</div>
<div class="modal fade" id="addService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addService" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="addService">Add Service</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form>
					<div class="input-group mb-3 bg-info">
						<span class="input-group-text col-6">DOJ</span>
						<input type="date" ng-model ="service_input.doj" ng-change="update_ncp()" class="form-control" placeholder="doj" aria-label="doj">
					</div>
					<div class="input-group mb-3 bg-light">
						<span class="input-group-text col-6">DOE</span>
						<input type="date" ng-model ="service_input.doe" ng-change="update_ncp()" class="form-control" placeholder="doe" aria-label="doe">
					</div>
					<div class="input-group mb-3 bg-light" ng-show="service_input.ncp1edit">
						<span class="input-group-text col-6">NCP b/w 16-11-1995 to 31-08-2014</span>
						<input type="number" ng-model ="service_input.ncp1"  class="form-control" placeholder="NCP1" aria-label="NCP1">
					</div>
					<div class="input-group mb-3 bg-light" ng-show="service_input.ncp2edit">
						<span class="input-group-text col-6">NCP from 01-09-2014</span>
						<input type="number" ng-model ="service_input.ncp2"  class="form-control" placeholder="NCP2" aria-label="NCP2">
					</div>
					<div class="row mb-3">
						<div class="col-3">
							<button type="button" class="btn btn-success waves-effect" ng-click="addService()" data-bs-dismiss="modal"><i class="bi bi-plus-circle-fill"></i> Add Service</button>
						</div>
					</div>
			</form>
		</div>
    </div>
  </div>
</div>
	<!--
	container fluid div closer
	-->
	</div>
	<script type="text/javascript" src="./script/angular.min.js"></script>
	<script type="text/javascript" src="./script/angular-cookies.js"></script>
	<script type="text/javascript" src="./script/angular-route.js"></script>	
	<script type="text/javascript" src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="./script/popper.min.js"></script>
	<script type="text/javascript" src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./script/luxon.min.js"></script>
	<script type="text/javascript" src="./script/lodash.min.js"></script>
	<script type="text/javascript" src="./script/qrcode.min.js"></script>
	<!--<script type="text/javascript" src="./script/script.js"></script>-->
	<script>
const MIN = 1000;
const CEILING1 = 6500;
const CEILING2 = 15000;
const MIN_DOB = luxon.DateTime.fromJSDate(new Date('2005-05-01')).minus({years: 58}).toJSDate()
const CEILING1_DATE = new Date('1995-11-16');
const CEILING2_DATE = new Date('2014-09-01');	
const BASIC_DEFAULT = {
	'dob': luxon.DateTime.fromJSDate(new Date()).minus({years: 58}).toJSDate(),
	'availing_date':new Date(),
	'age':58,
	'date58':new Date(),
	'doe': 0,
	'agedoe':0
}

const SERVICE_INPUT_DEFAULT = {
	'doj': new Date('1995-11-16'),
	'doe': new Date('2018-12-01'),
	'ncp1':0,
	'ncp2':0,
	'ncp1edit':1,
	'ncp2edit':1
}



const SUPERANNUATION_DEFAULT = {
	"pension":0,
	"availing_date":0,
	"age":0,
	"doe":0,
	"agedoe":0
}

const TOTAL_DEFAULT = {
	'doj':new Date(),
	'doe':new Date(),
	'ncp1':0,
	'ncp2':0,
	'monthsbefore':0,
	'monthsafter':0,
	'daysbefore':0,
	'daysafter':0
}

function getDays (date1, date2, withEndDate=1) {
	var interval = luxon.Interval.fromDateTimes(date1, date2);
	var date1_modified = date1.plus({months: Math.floor(interval.length('Months'))});
	var interval2 = luxon.Interval.fromDateTimes(date1_modified, date2);
	
	return (
			(Math.floor(interval.length('Years'))*365)+
			(Math.floor(interval.length('Months')%12)*30)+
			interval2.length('Days')+
			withEndDate
			);
}

function getDifference(d1, d2, unit="Days", period="both", withEndDate=1) {
	//date1 is initial date
	//date2 is final date
	//unit is unit which is to be used for finding the difference
	//period both=total, before=Before 01-09-2014, after=after 2014
	//withEndDate 1=true, 0=false
	//return -1 if any error
	
	if(period=="before" && d2>CEILING2_DATE) {
		d2 = luxon.DateTime.fromJSDate(CEILING2_DATE).minus({days: 1}).toJSDate();
		if(d1<CEILING1_DATE) {
			d1=CEILING1_DATE;
		} else if(d1>CEILING2_DATE){
			d1=d2;
		}
	} else if(period=="after" && d1<CEILING2_DATE) {
		d1= CEILING2_DATE;
		if(d2<CEILING2_DATE){
			d2=d1;
		}
	}
	if(d1==d2) return 0;
	date1= luxon.DateTime.fromJSDate(d1);
	date2= luxon.DateTime.fromJSDate(d2);
	var interval = luxon.Interval.fromDateTimes(date1, date2);
	if (interval.invalid) {
		console.log(interval);
		log("getDifference1: Error:",["Invalid Input",date1,date2,d1,d2])
		return -1;
	} else if(!['Years','Months','Days'].includes(unit) || !["both","before","after"].includes(period) || ![0,1].includes(withEndDate)){
		log("getDifference: Error:",["Invalid Input"])
		return -1;
	} 
	
	
	if(unit=="Days") {
		days = getDays (date1, date2, withEndDate);
		return days;
	} else if (unit=="Years" || unit=="Months") {
		interval = luxon.Interval.fromDateTimes(date1, date2.plus({'days':1}));
		return Math.floor(interval.length(unit));
	} 
	
	return -1;
}
function log(str, array) {
	console.log("Log:", str,":")
	let text = array.join();
	if(array.length) console.log(text);
}

function dateRangeOverlaps(a_start, a_end, b_start, b_end) {
	if (a_start <= b_start && b_start <= a_end) return true; // b starts in a
	if (a_start <= b_end   && b_end   <= a_end) return true; // b ends in a
	if (b_start <  a_start && a_end   <  b_end) return true; // a in b
	return false;
}

function multipleDateRangeOverlaps(dates) {
	var i, j;
	if (dates.length % 2 !== 0)
		throw new TypeError('Arguments length must be a multiple of 2');
	for (i = 0; i < dates.length - 2; i += 2) {
		for (j = i + 2; j < dates.length; j += 2) {
			if (
				dateRangeOverlaps(
					dates[i], dates[i+1],
					dates[j], dates[j+1]
				)
			) return true;
		}
	}
	return false;
}

function validateService(service, dob){
	
	if(typeof(service.doj)!="object" || typeof(service.doe)!="object" || typeof(service.ncp1) !="number" || typeof(service.ncp2) !="number") {
		log("validateService:",["Type not matching."]);
		return 0;
	} else {
		//alert(getDifference(dob,service.doe,'Years',"both")>60)
		var lastdate=0;
		if(service.doe>=new Date('2016-04-25')){
			lastdate = luxon.DateTime.fromJSDate(dob).plus({years: 60}).toJSDate();
		} else {
			lastdate = luxon.DateTime.fromJSDate(dob).plus({years: 58}).toJSDate();
		}
	}
	if(service.doj>service.doe) {
		log("validateService:",["DOJ can not be after DOE."]);
		return 0;
	} else if (service.doj<CEILING1_DATE) {
		log("validateService:",["DOJ can not be less than 16-11-1995."]);
		return 0;
	} else if(service.doj<dob) {
		log("validateService:",["DOJ can not be earlier than DOB."]);
		return 0;
	} else if(service.doe>lastdate) {
		console.log(service.doe,lastdate,service.doe>lastdate)
		log("validateService:",["DOE can not be more than age 60/58."]);
		return 0;
	} else {
		var daysbefore   = getDifference(service.doj,service.doe,'Days',"before");
		var daysafter    = getDifference(service.doj,service.doe,'Days',"after");
		if (daysbefore<service.ncp1 || daysafter<service.ncp2 || (daysbefore+daysafter)<(service.ncp1+service.ncp2)) 
			return 0;
		return 1;
	}
}

var app = angular.module('pensionApp', ['ngCookies']);
app.controller('pensionCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
	
	$scope.reset = function () {
		$scope.resetBasic();
		$scope.update()
	}
	
	$scope.resetBasic = function (){
		$scope.basic = BASIC_DEFAULT;
		$scope.resetService();
		$scope.updateBasic();
		//$scope.basic.doe=0;
		//$scope.updateBasic();
	}
	
	$scope.resetService = function() {
		$scope.dates=[];
		$scope.services=[];
		$scope.service_input  = SERVICE_INPUT_DEFAULT;
		$scope.pension = SUPERANNUATION_DEFAULT;
		$scope.total=TOTAL_DEFAULT;
	}
	
	$scope.removeService = function(index) {
		if(index >= 0){
			$scope.dates.splice(index*2, 2);
			$scope.services.splice(index, 1);
			$scope.update();	
		}
	}
	
	$scope.update = function() {
		log("update called",[]);
		//$scope.updateBasic();
		$scope.total=updateTotal();

		updateEligibility();		
		$scope.updateSuperannuation();
	}
	
	
	function updateTotal() {
		var total = $scope.services.reduce(function(acc, o) {
				for (var p in o)
					acc[p] = (p in acc ? acc[p] : 0) + o[p];
					return acc;
				}, {});
		if($scope.services.length) {
			var x= $scope.services.reduce((a, b) => (a.doe > b.doe ? a : b));
			var y= $scope.services.reduce((a, b) => (a.doj < b.doj ? a : b));
			total.doe=x.doe;
			total.doj=x.doj;
			
		} else {
			total.doe=0;
			total.doj=0;
		}
		$scope.basic.doe=total.doe;
		$scope.basic.agedoe = getDifference($scope.basic.dob,$scope.basic.doe,'Years',"both");
		console.log("total:",total);
		return total;
	}
	
	function updateEligibility(){
	}
	
	$scope.availingDate=function(){
		//$scope.basic.doe=0;
		$scope.basic.alert = 0;
		console.log("doe",$scope.basic.doe);
		var date60 = luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 60}).toJSDate();
		var date58 = luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 58}).toJSDate();
		var date50 = luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 50}).toJSDate();
		var min_opt_date=luxon.DateTime.fromJSDate(CEILING1_DATE).plus({years: 9.5}).toJSDate();
		if($scope.basic.availing_date<min_opt_date) {
			$scope.basic.agealert="Opting date should be atleast 9.5 Years after joining EPS 95(16-11-1995)";
			$scope.basic.availing_date=min_opt_date;
		} else if($scope.basic.availing_date<date50){
			$scope.basic.agealert="Opting date should be atleast 50 Years after Date of Birth.";
			$scope.basic.availing_date=date50;
		} else {
			$scope.basic.agealert=0;
			if($scope.basic.doe>new Date('2016-04-25') && $scope.basic.availing_date>date60){
				$scope.basic.agealert="Date of pension option can not be chosen beyond age 60 for DOE from 2016-04-25."
				$scope.basic.availing_date=luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 60}).toJSDate();
				$scope.basic.age = getDifference($scope.basic.dob,$scope.basic.availing_date, "Years","both");
			} else if($scope.basic.age>=date58){
				$scope.basic.agealert="Date of pension option can not be chosen beyond age 58 for DOE before 2016-04-25.";
				$scope.basic.availing_date=luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 58}).toJSDate();
				$scope.basic.age = getDifference($scope.basic.dob,$scope.basic.availing_date, "Years","both");
			} else {
				$scope.basic.agealert=0;
			}
		}
		$scope.basic.age = getDifference($scope.basic.dob,$scope.basic.availing_date, "Years","both");
	}
	$scope.updateBasic = function(){
		if($scope.basic.dob<MIN_DOB) {
			$scope.basic.alert = "DOB can not be earlier than 01-05-1947.";
		} else if ($scope.basic.dob > new Date()){
			$scope.basic.alert = "DOB can not be later than current date.";	
		} else {
			//$scope.resetService();
			$scope.basic.date58 = luxon.DateTime.fromJSDate($scope.basic.dob).plus({years: 58}).toJSDate();
			$scope.availingDate();	
		}
	}
	
	$scope.updateSuperannuation = function(){
	}
	
	$scope.update_ncp = function () {
		if($scope.service_input.doj>CEILING2_DATE) {
			$scope.service_input.ncp1=0;
			$scope.service_input.ncp1edit=0;
		} else {
			$scope.service_input.ncp1edit=1;
		}
		if($scope.service_input.doe<CEILING2_DATE) {
			$scope.service_input.ncp2=0;
			$scope.service_input.ncp2edit=0;
		} else {
			$scope.service_input.ncp2edit=1;
		}
	}
	
	$scope.addService = function(){
		
		var doj = $scope.service_input.doj;
		var doe = $scope.service_input.doe;
		var ncp1 = $scope.service_input.ncp1;
		var ncp2 = $scope.service_input.ncp2;
		log("Add Service Called: (DOJ, DOE): ",[doj,doe]);
		var date1 = $scope.dates.slice();
		$scope.dates.push(doj);
		$scope.dates.push(doe);
		
		if(!validateService($scope.service_input, $scope.basic.dob)) {
			alert("Invalid Service Details. Returning to previous state.");
			$scope.dates = date1.slice();
		} else if(multipleDateRangeOverlaps($scope.dates)){
			alert("Date range overlapping. Returning to previous state");
			$scope.dates = date1.slice();
		} else {
			var monthsbefore     = getDifference(doj,doe,'Months',"before");
			var monthsafter      = getDifference(doj,doe,'Months',"after");
			var yearsbefore      = getDifference(doj,doe,'Years',"before");
			var yearsafter       = getDifference(doj,doe,'Years',"after");
			var daysbefore       = getDifference(doj,doe,'Days',"before");
			var daysafter        = getDifference(doj,doe,'Days',"after");
			var daystotal        = daysbefore+daysafter;
			var date58           = $scope.basic.date58;
			date58               = doe>date58?date58:doe;
			var daysbefore_age58 = getDifference(doj,date58,'Days',"before");
			var daysafter_age58  = getDifference(doj,date58,'Days',"after");
			var daystotal_age58   = daysbefore_age58+daysafter_age58;
			
			log("AddService:(DOJ,DOE,NCP1,NCP2,Y1,Y2,M1,M2,D1,D2,D_Total)",[doj,doe,ncp1,ncp2,yearsbefore,yearsafter,monthsbefore,monthsafter,daysbefore,daysafter,daystotal]);
			var service = {
				'doj':doj,
				'doe':doe,
				'ncp1':ncp1,
				'ncp2':ncp2,
				'monthsbefore':monthsbefore,
				'monthsafter':monthsafter,
				'yearsbefore':yearsbefore,
				'yearsafter':yearsafter,
				'daysbefore':daysbefore,
				'daysafter':daysafter,
				'daystotal':daystotal	
			}
			
			$scope.services.push(service);
			$scope.availingDate();	
		}
	}
	
	$http({
		method: 'GET',
		url: './data.json'
	}).then(function (success){
		log("json downloaded",[]);
		TABLEB = success.data.TABLEB;	
		TABLEC = success.data.TABLEC;
		TABLED = success.data.TABLED;
		TABLE_BASIC = success.data.TABLE_BASIC_PENSION;
		$scope.reset();
	},function (error){
		log(error,[])
	});
}]);
	</script>
</body>
</html>