<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Pension Calculator</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body style="background-image: linear-gradient(0deg, #FDFFFF 0%, #DFFFFF 100%);">
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
			  <li><a href="pension.html" class="nav-link px-2 text-white">Pension Calculator</a></li>
			  <li><a href="edli.html" class="nav-link px-2 text-white">EDLI</a></li>
			</ul>
			<h3 class="text-center">CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid" ng-app="pensionApp" ng-controller="pensionCtrl">
		<div class="row">
			<div class="alert fade show" role="alert">
			<ul class="list-group">
				<li  class="list-group-item list-group-item-danger"><i class="bi bi-exclamation-octagon-fill"></i>
					The calculations shown here are only illustrative in nature and can not be used as a basis of any legal case/litigation.
				</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Input</div>
					<div class="card-body">
						
					</div>
					
					<div class="card-footer d-flex justify-content-between align-items-center">
						<span>
							<button type="button" class="btn btn-success align-self-center" data-bs-toggle="modal" data-bs-target="#pensioninfo" ng-click="updateCalculation()" ng-disabled="pensionForm.$pristine || pensionForm.dob.$error.$invalid || !total.eligibility || form2.$invalid || form2.psalary.$error.$invalid">गणना दिखाएं / अपडेट करें<br/>Show/Update Calculation</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">रीसेट/Reset</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2" ng-show="output">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Output</div>
					<div class="card-body">
						<ul class="list-group mb-3 col-md-12">
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.superannuation">सेवानिवृत्ति पेंशन <br/>Superannuation Pension :<span>{{ pension.superannuation }}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.superannuation<1000 || (pension.early && pension.early<1000)">Minimum Superannuation pension (from 01-09-2014) :<span>Rs. 1000</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.earlyreduction">Reduction due to early Pension :<span>{{pension.earlyreduction}}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.early">Early Pension(Calculated) :<span>{{pension.early}}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.earlyreduction && (pension.early && pension.early<1000) && pension.earlymin">Early Pension after applying Minimum :<span>{{pension.earlymin}}</span></li>
						</ul>
						<div class="alert alert-warning mt-3">
							For calculating the deferred pension. The superannuation pension can be multiplied by a factor of 1.04 for each year(max two) pension is deferred.
							Deferred pension is applicable only when date of option is after 25-04-2016.
						</div>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger align-self-center" onclick="download()">Download</button>
					</div>
				</div>
			</div>
		</div>



		<div class="modal fade" id="pensioninfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pensioninfo" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="pensioninfoLabel">Information</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>The Calculation in this part is only indicative in nature as the data entered by user and data available in database may be different.</p>
					<p>Currently, only Early pension and Superannuation pension is provided other types of pensions and functionalities will be added soon </p>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

	<!--
	container fluid div closer
	-->
	</div>
	<script type="text/javascript" src="./script/angular.min.js"></script>
	<script type="text/javascript" src="./script/angular-cookies.js"></script>
	<script type="text/javascript" src="./script/angular-route.js"></script>	
	<script type="text/javascript" src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="./script/popper.min.js"></script>
	<script type="text/javascript" src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./script/luxon.min.js"></script>
	<script type="text/javascript" src="./script/lodash.min.js"></script>
	<script type="text/javascript" src="./script/qrcode.min.js"></script>
	<script type="text/javascript" src="./script/script.js"></script>
<script>

var app = angular.module('pensionApp', ['ngCookies']);

app.controller('pensionCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
	//$scope.dob = BASIC_DEFAULT.dob;
	$scope.reset = function () {
		$scope.resetBasic();
		$scope.updateDOB();
	}
	

	
}]);



	</script>
</body>
</html>