<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Pension Calculator</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body style="background-image: linear-gradient(0deg, #FDFFFF 0%, #DFFFFF 100%);">
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
			  <li><a href="pension.html" class="nav-link px-2 text-white">Pension Calculator</a></li>
			  <li><a href="edli.html" class="nav-link px-2 text-white">EDLI</a></li>
			</ul>
			<h3 class="text-center">CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid" ng-app="pensionApp" ng-controller="pensionCtrl">
		<div class="row">
			<div class="alert fade show" role="alert">
			<ul class="list-group">
				<li  class="list-group-item list-group-item-danger"><i class="bi bi-exclamation-octagon-fill"></i>
					The calculations shown here are only illustrative in nature and can not be used as a basis of any legal case/litigation.
				</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Input</div>
					<div class="card-body">
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="pastBenefit">Past Service Benefit</span>
							<input type="number" ng-model="pastBenefit" id="pastBenefit" min="1" max="15000" name="pastBenefit" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.pastBenefit.$invalid)}" pastBenefit required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.pastBenefit.$invalid">
								<span ng-show="form2.pastBenefit.$error.required">This is required. Click on icon above to knwo how to calculate it.</span>
								<span ng-show="form2.pastBenefit.$error.psal || form2.pastBenefit.$error.min || form2.pastBenefit.$error.max">The Pensionable Salary should be greater than 0 and Max 15000 for DOE after 01-09-2014 (6500 before 01-09-2014).</span>
							</div>	
						</div>
					</div>
					
					<div class="card-footer d-flex justify-content-between align-items-center">
						<span>
							<button type="button" class="btn btn-success align-self-center" data-bs-toggle="modal" data-bs-target="#pensioninfo" ng-click="updateCalculation()" ng-disabled="pensionForm.$pristine || pensionForm.dob.$error.$invalid || !total.eligibility || form2.$invalid || form2.psalary.$error.$invalid">गणना दिखाएं / अपडेट करें<br/>Show/Update Calculation</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">रीसेट/Reset</button>
						</span>
					</div>
				</div>
			</div>
		</div>

	<!--
	container fluid div closer
	-->
	</div>
	<script type="text/javascript" src="./script/angular.min.js"></script>
	<script type="text/javascript" src="./script/angular-cookies.js"></script>
	<script type="text/javascript" src="./script/angular-route.js"></script>	
	<script type="text/javascript" src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="./script/popper.min.js"></script>
	<script type="text/javascript" src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./script/luxon.min.js"></script>
	<script type="text/javascript" src="./script/lodash.min.js"></script>
	<script type="text/javascript" src="./script/qrcode.min.js"></script>
	<script type="text/javascript" src="./script/script.js"></script>
<script>

var app = angular.module('pensionApp', ['ngCookies']);

app.controller('pensionCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
	//$scope.dob = BASIC_DEFAULT.dob;
	$scope.reset = function () {
		$scope.resetBasic();
		$scope.updateDOB();
	}
	
	$scope.pastBenefit = 0;
	

	
}]);



	</script>
</body>
</html>